<div class="container-lg">
    <div class="mb-1 card bg-card flex-row position-relative" ng-repeat="email in emails">
        <div class="card-header d-flex align-items-center">
            <a class="text-reset stretched-link text-decoration-none" ui-sref="emailDetail({id: email.id})">
                <i class="fs-4 fa fa-envelope"></i>
            </a>
        </div>
        <div class="mx-2 row min-width-0 align-items-center flex-grow-1">
            <div class="col-5 text-truncate" ng-bind="email.sender"></div>
            <div class="col-7 text-truncate" ng-bind="email.subject"></div>
            <div class="d-none d-lg-block col-12 text-truncate text-muted" ng-bind="email.message"></div>
        </div>
        <div
            class="d-none px-2 d-md-flex flex-row flex-lg-column align-items-md-center justify-content-lg-center ms-auto">
            <small class="order-lg-last text-nowrap" ng-bind="email.dateTime | date:'dd-MMM-yy'"></small>
            <small class="ps-md-2 ps-lg-0 text-nowrap" ng-bind="email.dateTime | date:'h:mm a'"></small>
        </div>
    </div>
    <div class="row">
        <div class="col mx-1 d-flex justify-content-end">
            <button type="button" class="custom btn btn-accent" data-bs-toggle="modal"
                data-bs-target="#add-email-modal">Create Mail</button>
        </div>
    </div>
</div>

<div class="modal fade" id="add-email-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Mail</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-floating mb-3 d-flex">
                        <div ng-class="'m-1 px-2 badge text-bg-' + invertTheme"
                            ng-repeat="recipient in addEmail.data.recipients">
                            <span ng-bind="recipient"></span>
                            <i class="fa fa-times" ng-click="removeRecipient(recipient)"></i>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="recipients" ng-model="addEmail.query"
                            placeholder="Recipients" ng-keypress="addRecipient($event)">
                        <label for="recipients">Add Recipients</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="subject" ng-model="addEmail.data.subject"
                            placeholder="Subject">
                        <label for="subject">Subject</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="message" ng-model="addEmail.data.message"
                            placeholder="Message">
                        <label for="message">Message</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="addEmail()">Add Email</button>
            </div>
        </div>
    </div>
</div>