<div class="container-md">
    <div class="d-flex flex-column flex-sm-row justify-content-sm-between">
        <div class="w-auto">
            <h3>Teletomo</h3>
            <div class="list-unstyled d-flex flex-column flex-sm-row">
                <a class="mb-1 me-3 link-secondary text-decoration-none" href="#">Help &amp; Support</a>
                <a class="mb-1 me-3 link-secondary text-decoration-none" href="#">Terms &amp; Conditions</a>
                <a class="mb-2 link-secondary text-decoration-none" href="#">Privacy policy</a>
            </div>
        </div>
        <div class="w-auto">
            <h5>Follow us on</h5>
            <div class="d-flex flex-wrap text-muted">
                <a href="#" class="mx-2 fs-3 link-secondary"><i class="fa-brands fa-facebook"></i></a>
                <a href="#" class="mx-2 fs-3 link-secondary"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" class="mx-2 fs-3 link-secondary"><i class="fa-brands fa-twitter"></i></a>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column flex-sm-row text-secondary">
        <small class="ms-sm-auto me-sm-1">© Teletomo 2023</small>
        <span class="me-sm-1 vr d-none d-sm-inline-block"></span>
        <small class="mb-2 mb-sm-0">all rights reserved</small>
    </div>
</div>