<div class="row  g-2">
  <!-- row-cols-1 row-cols-sm-2 row-cols-md-3 -->
  <div ng-repeat="bill in bills" class="col-12 col-sm-6 col-md-4 d-flex">
    <div class="card flex-stretch">
      <div class="card-body row">
        <h5 class="card-title col-8">${{bill.price}}</h5>
        <span class="text-end col-4">
          <button type="button" class="btn-close" ng-click="removeBill(bill.reference)"></button>
        </span>
        <div class="card-text border rounded-top">
          <span class="col-3 border-end pe-2 d-inline-block">Mode</span>
          <span class="col-8 d-inline-block">{{bill.paymentMode}}</span>
        </div>
        <div class="card-text border rounded-bottom">
          <span class="col-3 d-inline-block">Ref.</span>
          <span class="col-8 d-inline-block text-truncate">{{bill.reference}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 d-flex justify-content-end">
    <button type="button" class="custom btn btn-accent" data-bs-toggle="modal" data-bs-target="#add-bill-modal">Add
      bill</button>
  </div>
</div>

<div class="modal fade" id="add-bill-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add bill</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form>

          <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <div class="form-floating">
              <input type="number" class="form-control" id="price" ng-model="addBillForm.price" placeholder="Price">
              <label for="price">Price</label>
            </div>
          </div>
          <div class="form-floating mb-3">
            <select class="form-select" id="paymentMode" ng-model="addBillForm.paymentMode">
              <option selected disabled value="">Select payment Mode from options</option>
              <option value="Coupon">Coupon</option>
              <option value="Debit Card">Debit Card</option>
              <option value="Google Pay">Google Pay</option>
              <option value="Referral">Referral</option>
            </select>
            <label for="paymentMode">PaymentMode</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="addBill()">Add bill</button>
      </div>
    </div>
  </div>
</div>